<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>

<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
    <div class="p-2">
        <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
            My name is Jaime Cernuda, I am a third year PhD student at the Scalable Computing Software Laboratory at the Illinois Institute of Technology.
            Originally, an electrical engineer at the Technical University of Madrid (UPM). I moved to Chicago to get my master in Computer Science
            in here, I work with the SCS lab since Feb-2018, after a few month working with them I decided to join the PhD program at Illinois Tech.
        </p>
        <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
            I work in High-Performance Computing (HPC) in the area of I/O and storage systems, specifically looking at problems involving hierarchical storage systems, single-node or 
            cluster situations where you have more than one type of storage device, for example how to handle I/O on a node with Permanent Memory and an NVMe device or 
            a cluster with some storage nodes containing an SSD and a greater number of them containing HDD.
            Concretely, my own personal research has been dedicated to exploring real-time, continuous I/O (usually referred to as Data Streaming) 
            in these hierarchical environments with a special interest in adaptive and elastic storage systems that can change their deployment size 
            and resource utilization based on user demand. 
        </p>
    </div>
</div>

 <!-- {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% if site.projects.exclude.archived && site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.archived %}
    {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
  {% elsif site.projects.exclude.forks %}
    {% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
  {% else %}
    {% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
  {% endif %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %} -->

